.container {
  width: 60%;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.85);
  padding: 10px;
  border: 1px solid #d3d3d3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  position: relative;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  color: grey;
}

.title {
  font-size: 20px;
}

.arrow {
  font-weight: bold;
  font-size: 28px;
  cursor: pointer;
}

.products-container {
  border: silver 1px solid;
  border-radius: 5px;
  background-color: #fafafa;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 25px;
}

.selected-product {
  background-color: darkblue;
  color: #f7f7f7;
}

.product-item {
  position: relative;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid darkgrey;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.informationSgn {
  bottom: 5px;
  right: 10px;
  position: absolute;
}



.tooltip .tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: #203ED7;
  color: #fafafa;
  text-align: center;
  border-radius: 5px;
  padding: 5px 15px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
