<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-select-product-control [products]="products" formControlName="productId"></app-select-product-control>
    <div class="bottombar-float">
      <button  type="submit">Submit</button>
    </div>
</form>
