.bottombar-float {
  background-color: #fafafa;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 2px 2px 15px -2px rgba(0, 0, 0, 0.6);
  padding-top: 5px;
  padding-bottom: 5px;
button {
  margin: 0 3px;
}
}

@media (min-width: 600px) {
  .bottombar-float button {
    min-width: 300px;
  }
}
